// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .switch-modals {
    margin-left: 5px;
    color: gray;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0; 
    font-size: 12px;
    font-weight: bold;
    margin: 5px -10px 2px -10px;
 }
 
 .switch-modals:hover {
    // text-decoration: underline;
    color: rgba(128,128,128,0.8);
    border-color: rgba(128,128,128,0.8);
 }