/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
} */


/* 
.content {
  height: 100%;
}

.user-pane {
  display: flex;
  justify-content: center;
}

.index-item-info {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index-item-category {
  font-weight: bold;
}

.index-item-copy {
  margin-left: 15px;
}

header {
  margin-left: 5%;
}

h1, h5 {
  margin-bottom: 0px;
}

.index-image {
  max-height: 200px;
  max-width: 100px;
}

.header-name {
  margin: 7px 0 0 0;

}

.header-favorites {
  margin: 4px 0 4px 0;
  font-size: 14px;
}

.button-holder {
  display: flex;
  align-items: center;
  flex-direction: column;
} */

.splash {
  /* background-color: red; */
}

.login-signup {
  /* background-color: white; */
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgb(63,63,63);
  border-radius: 8px;
}

.top-button {
  position: absolute;
  top: 50px;
  left: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  background-color: #efefef;
  width: 130px;
  padding: 10px 15px;
  border-width: 0px;
  border-radius: 12px;
  outline-style: none;
}

.top-button:hover {
  background-color: #dfdfdf;
}

.top-button:active {
  box-shadow: 0 0 0 4px rgba(33,150,243,0.6);
}

.bottom-links {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -225%);
  font-size: 11px;
  color: white;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  outline-style: none;
}

.login-input {
  margin-left: 0;
  font-size: 16px;
  padding: 8px 14px;
  border-color: #aeaeae;
  border-width: 1px;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

.login-input:focus {
  box-shadow: 0 0 0 4px rgba(33,127,255,0.5);
  outline: none;
}

.login-form-box {
  padding: 20px 60px 20px 60px;
  background: white;
  position: relative;
  border-radius: 10px;
  color: rgb(63, 63, 63);
  text-align: center;
  box-sizing: border-box;
}

.print-errors {
  color: red;
}

 
.header-link {
  text-decoration: none;
  color: black;
}

/* hr {
  border-bottom: 1px solid grey;
} */

.session-submit, .guest-submit  {
  /* text-transform: capitalize; */
  font-size: 16px;
  color: white;
  font-weight: 500;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  outline-style: none;
}

.session-submit {
  background-color: #e60023;
}

.session-submit:hover {
  background-color: #d50012;
}

.or {
  margin: 10px;
  color: #333333; 
  font-size: 12px;
  font-weight: bold;
}

.guest-submit {
  background-color: rgb(33,127,255);
}

.guest-submit:hover {
  background-color: rgb(27, 109, 222);
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-x {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  opacity: .3;
  font-size: 20px;
}
